/* colour variables */
:root {
    /* --primary-color: #F7CD75; */
    --primary-color-light: #e74c3c;
    --secondary-color: #B5D0E6;
    --secondary-color-light: #d0e4f2;

    --c1: #F7CD75;
    --c1-vivid: #fcc040;

    --c2: #B5D0E6;
    --c2-vivid: #96b4cc;
    --c2-light: #d0e4f2;
    --c2-light-vivid: #7897ad;



    /* --black: #000;
    --grey: #3d3d3d;
    --light-grey: #ADADAD;
    --white: #fff;
    --off-white: #FDFBF7;
 */

    --dark0: #000;
    --dark1: #1a1a1a;
    --dark2: #3d3d3d;

    --light0: #fff;
    --light1: #FDFBF7;
    --light2: #ADADAD;

    --font-regular: 12pt;
    --font-medium: 14pt;
    --font-large: 16pt;

    --corner-rounding: 8px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: var(--c1-vivid);
        --primary-color-light: #e74c3c;
        --secondary-color: var(--c2-vivid);
        --secondary-color-light: var(--c2-light-vivid);

        --black: var(--light0);
        --grey: var(--dark2);
        --light-grey: var(--light2);
        --white: var(--dark0);
        --off-white: var(--dark1);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --primary-color: var(--c1);
        --primary-color-light: #e74c3c;
        --secondary-color: var(--c2);
        --secondary-color-light: var(--c2-light);

        --black: var(--dark0);
        --grey: var(--dark2);
        --light-grey: var(--light2);
        --white: var(--light0);
        --off-white: var(--light1);
    }
}

body {
    padding: 0;
    margin: 0;
    background: var(--secondary-color-light);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Text elements always have black text */
h1,
h2,
h3,
h4,
h5,
p,
span,
table {
    color: var(--black);
}


/* ===============================
** Navigation Bar
** =============================== */
/* Navigation bar has a blue background,
** and a height of 100px on every page.
** Small margin at the end, so the buttons look evenly placed.
** slight transition for mobile menu transition. */
#navbar {
    margin: 0;
    min-height: 100px;
    height: 100px;
    margin-inline-end: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--secondary-color-light);
    transition: 150ms ease-in-out;
}

/* The image and search bar stay same mostly,
** even in mobile view.
** Contains image, so 100% height of the nav,
** and flex position elements centered with small gap. */
.nav_static {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    height: 100%;
}

/* The parent of the site logo.
** It has the pretty yellow bg */
#site_nav_logo {
    background: var(--primary-color);
    display: flex;
    height: 100%;
    align-items: center;
}

/* As this acts as a link, a pointer on hover is appropriate. */
#site_nav_logo:hover {
    cursor: pointer;
}

/* The site logo image
** occupies the whole 200px width,
** vertically centred */
#site_nav_logo img {
    padding: 0px 20px;
    /* the image */
    max-width: 200px;
    height: auto;
    object-fit: cover;
}

/* Button taking you to my yarn. Has a small icon aligned with the text */
#my_yarn_button {
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: center;
}

#my_yarn_button img {
    height: 100%;
}

/* Styling for the search bar in the navbar */
#navbar form input {
    height: 20px;
    font-size: var(--font-regular);
    padding: 10px 8px;
    border-radius: var(--corner-rounding);
    border: 2pt solid var(--light-grey);
}

/* get rid of the default blue ring around an input when selected */
#navlist form input:focus {
    outline: none;
}

/* parent of hamburger bars. Give them a little gap and make them
* stacked on top of each other. */
.hamburger {
    display: none !important;
    content: "aa";
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

/* give the patties a before state for a transition.
** quick 200ms ease transition.
** Good balance between speed and seeing the bars move. */
.hamburger_patty {
    transform: rotate(0deg) translateX(0) translateY(0);
    transition: 150ms ease-in-out;
    transition-delay: 50ms;
}

/* Create each hamburger bar, they should be 25px long,
* slight corner rounding and black.*/
.hamburger_patty:before {
    display: block;
    content: "";
    width: 27px;
    height: 2.5px;
    background: var(--grey);
    border-radius: 1px;
}

/* In mobile change the view to columns,
** so the content should be aligned to the left (start),
** and position on top of everything. */
.mobile_menu_main {
    z-index: 100;
    flex-direction: column !important;
    align-items: start !important;

    /* padding bottom so the secnd bar (buttons)
   ** with height of 20px padding top/bottom,
  ** and button height of 20px + 2*12px padding
 ** is total  84px */
    margin-block-end: 84px !important;

    transition: 150ms ease-in-out;
}

/* Re-enforce the height of the searchbar and image parent. */
.mobile_menu_main .nav_static {
    height: 100px;
}

/* Hide and disable the search form.
** slight transition, opacity excepted*/
.mobile_menu_main #search_form {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition-property: opacity;
    transition-delay: 100ms;
    transition: 100ms ease-in-out;
}

/* make the form visible, when the hamburger menu is not
** activated */
#search_form {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transition-property: opacity;
    transition-delay: 100ms;
    transition: 100ms ease-in-out;
}

/* Make the searchbar a comfortable size for a mobile view. */
#search_form input {
    width: 85%;
}

/* The section with the buttons in the nav,
** dissapears from normal view in mobile view.
** position on top.
** Control opacity when hidden - unseen. */
.mobile_menu_main .site_control_bar {
    height: fit-content;
    visibility: visible !important;
    pointer-events: auto;
    width: 100%;
    background: red;
    padding: 20px;
    margin: 0;
    z-index: 100;
    opacity: 1;
    transition-property: opacity;
    transition-delay: 100ms;
    transition: 100ms ease-in-out;
}

/* Hidden navbar is a thing used by crochet mode, upon exit this is disabled */
.nav_hidden {
    display: none !important;
}

/* ===============================
** Page Footer
** =============================== */
/* The footer. inherits inline-flex from
** being a horizontal list.
** Contains two rows, site logo and links*/
#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 250px;
    background: var(--secondary-color-light);

    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* The logo in the middle top of the footer
** this acts as a link home. */
.footer_logo img {
    max-width: 200px;
    height: auto;
}

/* It acts as a link so must use pointer */
.footer_logo img:hover {
    cursor: pointer;
}

/* The list of elements in the footer
** are slightly styled list elements and
** links. */
#footer_navigation li a {
    color: var(--black);
    text-decoration: none;
    transition: 50ms ease-in-out;
}

#footer_navigation li a:hover {
    color: var(--grey);
    text-decoration: underline;
}


/* ===============================
** Shared Page Styles
** =============================== */
/* so that pages have that padding either side */
main {
    padding-inline: 250px;
    background: var(--off-white);
    padding-block-end: 65px;
}

/* make titles a little bigger, top margin related to root element */
h1 {
    margin-block-start: 2rem;
    font-size: 22pt;
}

/* tables should take all horizontal width */
table {
    width: 100%;
}

/* 2 column table each is 50% wide. */
table tr td {
    width: 50%;
}

/* Links to other pages that look like a button */
.button_look {
    text-decoration: none;
    color: black;

    border-radius: var(--corner-rounding);
    background: var(--secondary-color);
    border: 1pt solid var(--secondary-color);
    transition: 75ms ease-in-out;
}

/* grey button are secondary, so have a light colour */
.button_grey {
    background: var(--secondary-color-light);
}

/* text within buttons is always black */
.button_look>span {
    color: black;
}

/* Padding / height if the button is an a */
a.button_look {
    padding: 12px;
    height: 20px;
}

/* Padding & height if the button is a button */
button.button_look {
    font-size: var(--font-regular);
    padding: 12px 15px;
    height: auto;
}

.button_look:hover {
    /* border: 1pt solid red; */
    cursor: pointer;
    filter: brightness(0.95);
    box-shadow: 0 0 5px var(--light-grey) inset;
    box-shadow: 0 0 5px rgba(170, 170, 170, 0.25);
}

/* Used for lists where they should be horizontal and have no styling. */
.horizontal_list {
    display: flex;
    list-style: none;
    align-items: center;
    display: inline-flex;
    gap: 20px;
    padding-inline-start: 0;
}

/* Base for a secondary nav, simply makes it go across
** horizontally, float on top with a slight top inset shadow
** so it appears separate from main nav */
.secondary_nav {
    display: flex;
    margin: 0;
    padding: 0;
    z-index: 100;

    height: 75px;

    background: var(--secondary-color-light);

    /* very light shadow so that the pattern secions background
    is more visible */
    box-shadow: 0 6px 16px -10px rgba(0, 0, 0, 0.24) inset
}


/* ===============================
** Index Page
** =============================== */
/* secondary nav bar labels should be
** evenly spaced */
ul#pattern_category_labels {
    align-items: center;
    justify-content: space-around;
}

#pattern_category_labels li a {
    color: var(--black);
    text-decoration: none;
    transition: 50ms ease-in-out;
}

#pattern_category_labels li a:hover {
    text-decoration: underline;
    color: var(--grey);
}

/* Index page sections like, popular and amigurumi out to .card_description
* have some padding between them. */
#pattern_groups {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.pattern_card_parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    /* flex: 1; */
    /* justify-content: space-between; */
    /* this makes a row with incorrect number span in a very strange way */
}

/* The card for each pattern on index.
* Width was selected through iterative process to achieve balance between
* height and width with image / text content balance.
* It has a short ease-in-out delay for the hover effect. */
.pattern_card {
    width: 225px;
    height: 350px;
    border: 1pt solid var(--secondary-color);
    overflow: hidden;
    border-radius: var(--corner-rounding);
    background: var(--secondary-color-light);

    transition: 50ms ease-in-out;
    cursor: pointer;
}

/* BG changes from secondary (light) to darker colour on hover. */
.pattern_card:hover {
    background: var(--secondary-color);
}

/* So that the image of all is taking
* up the same amount of height. .button_look*/
.pattern_card img {
    width: 100%;
    width: 100%;
    object-fit: cover;
    min-height: 230px;
}

.pattern_card_text {
    padding: 15px;
}

.pattern_card_text>* {
    display: block;

}

.pattern_card_text .card_title {
    text-transform: capitalize;
    font-weight: 700;
    font-size: var(--font-medium);
}

.pattern_card_text .card_description {
    padding-top: 2px;
}



/* ===============================
** Pattern Overview Page
** =============================== */

/* main section, has two child columns. */
#pattern_overview {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

/* Both page columns should have equal width */
#pattern_overview>* {
    /* width: 100%; */
    flex: 1;
}

/* Begin Crochet mode button. auto height for text match, base on padding */
button#crochet_mode_button {
    font-size: var(--font-regular);
}

/* The section that contains the preview gallery. */
/* has large hero image and smaller image gallery */
#crochet_gallery {
    display: flex;
    flex-direction: column;
    margin-block-start: 2rem;
    gap: 10px;
}

/* Image gallery image should be big, centred
** width of hero is static, half the page .card_description
** image has space on sides to fit. */
#gallery_hero {
    flex: 4;
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    /* square image, based on width of half column */

    object-fit: contain;
    object-position: center;
    background: var(--white);
    border-radius: var(--corner-rounding);
}

/* Image gallery thumbnail parent.
** Handles simple positioning. */
#thumb_gallery {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Image gallery previews. */
.thumb {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s;
}

/* Simple hover effect. */
.thumb:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px var(--light-grey);
}


#pattern_overview_back {
    position: absolute;
    display: block;
    top: calc(100px + 2rem);
    left: 145px;
}

/* Capitalise the first column of the details table */
#pattern_details tr td:nth-child(1) {
    text-transform: capitalize;
    font-weight: 500;
}

/* ===============================
** Crochet Mode Page
** =============================== */
/* Secondary nav, site side padding
** and organise the buttons and titles.
** flex, and children have proportional size */
#crochet_mode_nav {
    position: sticky;
    top: 0;
    display: flex;
    padding-inline: 250px;
}

/* Vertical center align the icons
** with the text in buttons*/
#crochet_mode_nav>*>button {
    display: flex;
    align-items: center;
}

/* the little text icons should have
** display font and be bigger
** align verticaly */
.button_text_icon {
    font-size: var(--font-medium);
}

#crochet_mode_exit {
    flex: 0.5;
    text-wrap: nowrap;
}

/* The step pattern title should have no wrap,
** take as much x width as needed.
** if longer than 30 chars then ... */
#crochet_step_pattern_title {
    flex: 2;

    font-weight: 700;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* The title of the current step occupies
** the most space, pushing other elements
** to each end. */
#crochet_step_title {
    flex: 6;
    width: 100%;
    text-align: center;
}

/* Organise the step navigation buttons
** to be inline */
#crochet_step_navigation {
    flex: 2;
    display: inline-flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
}

/* Step page nav button text always inline */
#crochet_step_navigation button {
    text-wrap: nowrap;
}

/* The highlight button should have
** a fixed position on page, to the side. */
.highlight_controls {
    position: fixed;
    /* align with h1 */
    top: calc(175px + 2rem);
    /* nav 100 + second nav 75 */
    left: 135px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 75px;
    text-align: center;
    align-items: center;
    text-wrap: wrap;
}

/* Make the button have no margin
** this is handled by gap of the parent */
.highlight_controls p {
    margin-block: 0;
}

/* The highlight buttons have a fixed
** width x height aiding in positioning
** them correctly */
.highlight_button {
    width: 50px;
    height: 40px;
}

/* Make text icons in highlight
** contorl buttons larger */
.highlight_button span {
    font-size: var(--font-large);
}

/* Substeps is the parent for all substeps */
#substeps {
    padding-block-start: 2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.substep_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.substep {
    flex: 4;
    flex-direction: row;
}

/* The title of each substep is medium size
** font */
.substep_title {
    font-size: var(--font-medium);
}

/* Introduce a little padding to
** separate the rounds from the title.
** make the spans not inline. */
.substep_rounds {
    padding-block: 10px;
}

/* Each round is a set of stitches made.
** these will have a highlight attached to them
** remove highlight to appear as one p */
.round {
    /* display: block; */
    margin: 0;
    position: relative;
    display: block;
    width: fit-content;
    padding: 3px 4px;
}

/* Apply a "highlight" to the text of the
** round which has been completed. */
.round_complete {
    position: relative;
    display: block;
    width: fit-content;

    background-color: var(--primary-color) !important;
    padding: 3px 4px;
    border-radius: 3px;
}

/* Images for the substep are
** right aligned. max of 2.
** width should be no more than 60%
** images will have a height of 200px
** and maintain apsect ratio. */
.substep_images {
    flex: 8;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 20px;
}

.substep_images img {
    object-fit: cover;
    object-position: center;

    height: 200px;
    /* aspect-ratio: 3 / 2; */
    border-radius: var(--corner-rounding);
}




/* ===============================
** About Page, Support Page
** =============================== */
/* Add some padding to make the littler text be more in the center
* of the screen, and a min height so the page doesnt have a large footer. */
.about,
.support,
.contact {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    padding-block-start: 50px;
}

/* spacing between different support sections on the support page */
.support article section {
    /* gap: 20px; */
    padding-block-end: 10px;
}

/* * A max width is applied so the text span width is more comfortable to read.*/
.about p,
.support p {
    max-width: 500px;
}

/* ===============================
** Contact Page
** =============================== */
/* make the elements vertical stack */
.contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Style the contact form inputs to resemble the search bar,
* with a slight grey border (1.5pt was the corerct balance between thick and thin), and white background, bit of a border radius.
* also give it a minimum height to imply message input,
* not just one line.
* add a transition time for the outline effect. */
.form_input {
    width: 500px;
    vertical-align: top;
    font-size: var(--font-regular);
    padding: 12px;
    border-radius: var(--corner-rounding);
    border: 1.5pt solid var(--light-grey);

    background: var(--white);
    color: var(--black);
    transition: 75ms ease-in-out
}

/* Found a cool MDN article about form validation thats already in html
* https://developer.mozilla.org/en-US/docs/Learn_web_development/Extensions/Forms/Form_validation */
/* style valid form outline (normal) */
.contact input:valid,
.contact textarea:valid {
    border: 1.5pt solid var(--light-grey);
}

/* Style the invalid form outline
* but only show the requied error if focus was. */
.contact input:invalid:required:focus,
.contact textarea:invalid:required:focus {
    outline: 1.5pt solid red;
}

/* Give the textarea the desired size, and disable resize. */
#contact_message {
    min-height: 100px;
    resize: none;
}

/* Make the outline a little bit different on focus. */
#contact_message:focus,
.contact input:focus {
    outline: 1.5pt solid var(--grey);
}

/* Make the button not span the whole page width */
.contact button {
    width: fit-content;
}


/* Submit form status message, add a little padding to it */
#submit_status {
    padding-inline: 15px;

}

/* make the submit_status span (next to button) green on success */
.form_success {
    color: seagreen;
}

/* make form submit status text red if theres an issue */
.form_failure {
    color: darkred
}



/* Some manual overrides when user computer is dark mode */
@media (prefers-color-scheme: dark) {

    /* The highlight of rounds necessitates a darker colour. */
    .round_complete {
        background: #99701c !important;
    }

    /* Card text on home screen looks better when black,
   * due to blue card background. */
    .card_title,
    .card_description,
    #pattern_category_labels li a {
        color: var(--white)
    }

    /* Inverted footer iamge (make white) for dark mode.
    * as on dark blue background. */
    .footer_logo img {
        filter: invert();
    }

    /* The link hover grey which is normally the highlight colour
    * looks weird when coming from white.; */
    #footer_navigation li a:hover {
        color: var(--light1)
    }
}

/* ============================================================================
//
// Responsive Code
//
// ==========================================================================*/

/* Mobile */
@media (max-width: 520px) {

    /* Make the page have minimal padding on either side,
   * for all mains */
    main {
        padding-inline: 50px;
    }

    /* except on crochet mode, where it can be a bit smaller */
    .crochet_page {
        padding-inline: 90px;
    }

    /* replace the site logo with the version without text.
   * css inject image to replace.
   * hide original image*/
    #site_nav_logo img {
        content: "";
        visibility: hidden;
    }

    /* prepare the container for the image */
    #site_nav_logo {
        width: 100px;
    }

    /* Replace the image by inserting into pseudo and positioning correctly. */
    #site_nav_logo:before {
        content: "";
        width: 65px;
        height: 65px;
        background-image: url("/images/crochetcache_logogram.png");
        background-size: cover;
        background-position: center;
        visibility: visible;

        position: relative;
        /* container width - image width / 2 for equal inline positioning */
        left: calc((100px - 65px)/2);
    }

    /* pattern cards on index should align to the middle */
    .pattern_card_parent {
        justify-content: center;
    }

    /* Pattern cards take up whole horizontal space, and increased height */
    .pattern_card {
        width: 100%;
        height: 400px;
    }

    /* Increase the card image height to account for changed width x height */
    .pattern_card img {
        min-height: 275px;
    }


    /* Overview page display image gallery and details as rows, not columns */
    #pattern_overview {
        flex-direction: column;
    }

    /* hide the back button, as swiping back is widely supported in browsers now. */
    #pattern_overview_back {
        display: none;
    }

    /* crochet view */
    /* make teh rounds and their images show as rows, not columsn,
   * requires more scrolling but is minimal-x width compatible. */
    .substep_content {
        flex-direction: column;
    }

    /* as images are width of the whole view, align left */
    .substep_images {
        justify-content: flex-start;
    }

    /* make the crochet mode substep images maximally take width of the main,
   * and change height-width relationship.  */
    .substep_images img {
        max-width: 100%;
        height: auto;
    }

    /* position highlight controls in the side padding */
    .highlight_controls {
        left: 5px;
    }

    /* Hide the pattern category labels in mobile */
    #pattern_category_labels {
        display: none;
    }

    /* Enable the hamburger menu */
    .hamburger {
        display: flex !important;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    /* Hide the middle patty */
    .hamburger .hamburger_patty:nth-child(2) {
        display: none !important;
    }

    /* rotate the top patty to 45deg and position in the middle */
    .mobile_menu_main .hamburger .hamburger_patty:nth-child(1) {
        transform: rotate(45deg) translateX(2px) translateY(2px);
    }

    /* rotate the bottom patty to -45deg and position in the middle */
    .mobile_menu_main .hamburger .hamburger_patty:nth-child(3) {
        transform: rotate(-45deg) translateX(2px) translateY(-2px);
    }

    /* Normally hide the buttons in mobile mode, unless in the menu
    ** This MDN doc provided some inside into how to block cursor events,
    ** on an invisible object:
    * https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events
     */
    .site_control_bar {
        visibility: hidden !important;
        pointer-events: none;
        height: 0px;
        width: 0;
        opacity: 0;
        trnasition-property: height;
        transition: 0ms ease-in-out;
    }

    /* Make the crochet mode navbar have less side padding */
    #crochet_mode_nav {
        padding-inline: 20px;
    }

    /* Hide the exit button text, and the space */
    #crochet_mode_exit button span:nth-child(2),
    #crochet_mode_exit button span:nth-child(3) {
        display: none;
    }

    /* Hide the pattern overall title */
    #crochet_step_pattern_title {
        display: none;
    }

    /* left align the step title. ensure all text is shown */
    #crochet_step_title {
        text-align: left;
        width: fit-content;
    }

    /* Position the step navigation to the right of the
    ** screen, positioned absolutely so it can float there.
    ** top position of menu bar + 20px*/
    #crochet_step_navigation {
        position: absolute;
        right: 20px;
        top: 95px;
        flex-direction: column;
        max-width: 50px;
    }

    /* inset a label for step nav before */
    #crochet_step_navigation:before {
        content: "Steps";
        text-align: center;
        line-break: auto;
        display: block;
    }

    /* Hide the "back" text */
    #crochet_step_back span:nth-child(2) {
        display: none;
    }

    /* hide the "next" text */
    #crochet_step_forward span:nth-child(1) {
        display: none;
    }

    /* align the highlight controls with the step controls vertically
    ** that is, 75px of nav + 20px padding */
    .highlight_controls {
        top: 95px;
    }

}

/* tablet mode */
@media (min-width: 521px) and (max-width: 1000px) {

    /* page side padding to be a bit smaller */
    main {
        padding-inline: 150px
    }

    /* Overview page display image gallery and details as rows, not columns */
    #pattern_overview {
        flex-direction: column;
    }

    /* crochet view */
    /* make teh rounds and their images show as rows, not columsn,
   * requires more scrolling but is minimal-x width compatible. */
    .substep_content {
        flex-direction: column;
    }

    /* position the back button on patterns and highlight control to a
    convenient place */
    #pattern_overview_back,
    .highlight_controls {
        left: 30px;
    }

    /* images in crochet view are below alread instructions,
   * but should be left aligned */
    .substep_images {
        justify-content: flex-start;
    }
}


@media (min-width: 1600px) {

    /* On big screens use percentage, so the content stays more in the middle. */
    main {
        padding-inline: 20%;
    }

    .crochet_page {
        padding-inline: 35% !important;
    }
}
